
@{
    //Layout = "../Shared/MyLayout.cshtml";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}


<h2>Hello @ViewBag.FirstName !!!</h2>

@section FooterSection
{
    тут я решаю какую информацию мне загрузить в нужное место
    <ul>
        <li>Вы были на таком товаре</li>
    </ul>
}

